<?xml version="1.0" ?>
<launch>

<node pkg="tf" type="static_transform_publisher" name="bind_simu_real_camera" args="0 0 0 0 0 0  /camera_link /firefly/base_link  100"/>

<!--node pkg="tf" type="static_transform_publisher" name="bind_camera_link_firefly" args="0 0 0 0 0 0  /camera_link /world  100"/-->

<!--node pkg="tf" type="static_transform_publisher" name="bind_map_world" args="0 0 0 0 0 0  /world /map  100"/-->

</launch>

